<div ng-include="'partials/header.html'"></div>
<div class="row">
	<audio controls autoplay ng-src="{{currentSong.location | trusted}}" type="audio/mpeg" class="col-xs-8 col-xs-offset-2" id="audioPlayer">
		Your browser does not support the audio element.
	</audio>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-2 col-xs-10 col-xs-offset-2 player-control-row">
		<div class="player-control-item">
			<button type="button" class="player-control" ng-click="previous()">
				<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
			</button>			
		</div>
		<div class="player-control-item">
			<button type="button" class="player-control" ng-click="play(0)">
				<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>
		</div>
		<div class="player-control-item">
			<button type="button" class="player-control" ng-click="next()">
				<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
			</button>
		</div>
		<div class="player-control-item">
			<button type="button" class="player-control" ng-click="love()">
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-0 col-xs-8 col-xs-offset-2 player-control-row">
		<h4 class="text-right" ng-hide="playbackError">
		<span class="text-gray-light">{{currentSong.title ? 'Playing: ' : ''}}</span> {{currentSong | songFormat}}{{currentSong.artist && currentSong.artist != songs.album.artist ? currentSong.artist : ''}} {{scrobbled && !scrobbleError ? '(scrobbled)' : (scrobbleError ? '(scrobble gefaald!)' : '') }}
		</h4>
		<h4 class="text-right" ng-hide="!playbackError">
			An error occurred when trying to load this song. <br/>Reload the page to try again.
		</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-5 col-md-offset-2 col-md-push-3 col-xs-8 col-xs-offset-2">
		<ul class="list-group">
			<li class="list-group-item {{song.isPlaying ? 'song-in-list-playing' : 'song-in-list-not-playing'}}" ng-repeat="song in songs.items">
				<button ng-click="play($index)" class="song-in-list"><span class="float-left">{{song | songFormat}}</span><span class="float-right">{{song.duration | songDuration}}</span></button>
				
			</li>
		</ul>
	</div>
	<div class="col-md-3 col-md-offset-0 col-md-pull-5 col-xs-8 col-xs-offset-2">
		<div class="media">
			<div class="media-left media-middle">
				<img class="media-object" src="{{songs.album.imageUrl}}">
			</div>
			<div >
				<h2  class="media-heading">{{songs.album.title}}</h2>
				<h4>{{songs.album.artist}}</h4>
				<p class="text-gray-light" ng-repeat="description in songs.album.descriptions">{{description.value}}</p>
			</div>
		</div>
	</div>
</div>
<div ng-include="'partials/footer.html'"></div>