<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/img/logo_new.png" alt="Luisterpaal.fm"></img>
            </a>
            <button class="btn btn-success navbar-toggle navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
              <img ng-hide="!lastfmSessionExists" ng-src="{{lastfmSessionImg}}" class="user-logo"/>
              <span ng-hide="lastfmSessionExists" class="user-logo user-logo-icon glyphicon glyphicon-chevron-down"/>
            </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" ng-hide="!lastfmSessionExists">
              <li class="nav">
                  <div class="float-right">
                      <img class="user-logo" ng-src="{{lastfmSessionImg}}"></img>
                      <a class="navbar-link" ng-href="{{lastfmSessionUrl}}" target="_blank">{{lastfmUser}}</a>
                      <button type="button" class="btn btn-default navbar-btn" ng-click="lastfmLogout()">Logout</button>
                  </div>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-hide="lastfmSessionExists">
              <li class="nav">
                  <div>
                      <button type="button" class="btn btn-default navbar-btn float-right" ng-click="lastfmLogin()">Login</button>
                  </div>
              </li>
          </ul>
        </div>
    </div>
</nav>
<section ng-hide="lastfmSessionExists">
  <p class="text-right">U bent niet ingelogd. Wat u beluistert wordt momenteel niet gescrobbled.</p>
  <p ng-hide="!loginFailure" class="text-right">Er ging iets mis bij het inloggen...</p>
</section>
